{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Логин</title>
  <link rel="icon" href="{% static 'wapp/img/icon.svg' %}" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap&subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'wapp/style.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body onload="loadLogin()">
  <h1>Вход</h1>
  <form method="post" class="loginForm container">
    {% csrf_token %}
    <h3>Имя</h3>
    {{ form.username }}
    <h3>Пароль</h3>
    {{ form.password }}
    <button class="Button" type="submit">Войти</button>
  </form>
  <script>
    [].forEach.call(document.getElementsByClassName("loginForm")[0].getElementsByTagName("input"), (el) => {
      el.classList.add("LiveSearch");
    });
    function loadLogin() {
      var string = window.location.toString(), substring = "/login/?next=/admin/";
      if (!string.includes(substring)){
        window.location = substring;
      }
    }
  </script>
</body>
</html>